
<div class="container">
  <div class="row">
    <div class="column">
      {{#foreach posts}}
      <div class="excerpt-post container" style='margin-top:30px;'>
        <div class="row">
          <div class="eight columns">
            <div class="sample">
              <div class="title animated fadeInUp">
                <a class="excerpt-link" href="{{url}}">
                  <h1 style="margin-top:0px; line-height:35px;">{{title}}</h1>
                </a>
              </div>
              {{> sidebar}}
            </div>
            <article class="excerpt animated fadeIn {{post_class}}">
              <p>{{excerpt words="35"}}&hellip;</p>
            </article>
          </div>
          <div class="four columns">
            {{#if image}}
            <a href="{{url}}">
              <div class="excerpt-image  animated fadeIn" style="background-image: url({{image}})"></div>
            </a>
            {{/if}}
          </div>
        </div>
      </div>



      {{#if @last}}
      <div></div>
      {{else}}
      <div class="line"></div>
      {{/if}}
      {{/foreach}}
    </div>
  </div>
</div>
