
      {{#foreach posts}}
      {{#if @first}}

      {{#if image}}
        <a href="{{url}}">
          <header class="post-image fadeIn" style="background-image: url({{image}})"></header>
        </a>
      {{/if}}
      <div class="container">
        <div class="row">
          <div class="column">
      <div class="excerpt-post container" >
        <div class="row">
          <div class="twelve columns">
            <div class="sample">
              <div class="title animated fadeInUp">
                <a class="excerpt-link" href="{{url}}">
                  <h1 style="margin-top:0px; line-height:35px;">{{title}}</h1>
                </a>
              </div>
              {{> sidebar}}
            </div>
            <article class="excerpt animated fadeIn {{post_class}}">
              <p>{{excerpt words="35"}}&hellip;</p>
            </article>
          </div>
          <div class="four columns">
          </div>
        </div>
      </div>
      {{else}}
      <div class="excerpt-post container">
        <div class="row">
          <div class="eight columns">
            <div class="sample">
              <div class="title animated fadeInUp">
                <a class="excerpt-link" href="{{url}}">
                  <h1 style="margin-top:0px; line-height:35px;">{{title}}</h1>
                </a>
              </div>
              {{> sidebar}}
            </div>
            <article class="excerpt animated fadeIn {{post_class}}">
              <p>{{excerpt words="35"}}&hellip;</p>
            </article>
          </div>
          <div class="four columns">
            {{#if image}}
            <a href="{{url}}">
              <div class="excerpt-image  animated fadeIn" style="background-image: url({{image}})"></div>
            </a>
            {{/if}}
          </div>
        </div>
      </div>
      {{/if}}

      {{#if @last}}
      <div class="view-more fadeInUp">
        <button class="button-primary fadeInUp"><a href="/articles/posts">View All Posts</a></button>
      </div>
      {{else}}
      <div class="line"></div>
      {{/if}}
      {{/foreach}}
    </div>
  </div>
</div>
